@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100&family=Oswald&display=swap");
* {
    margin: 0%;
    padding: 0%;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav {
width: 60%;    
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: 19s;
    transition: 0.5s;
    font-family: "kdam thmor pro", sans-serif;
}

li:hover {
    color: #d21617;
}

#logo {
    width: 150px;
    height: auto;
}

.comentarios-container {
    background-image: url("../assets/BANNER-COMENTARIOS.jpeg");
    background-size: cover;
    width: 100%;
    height: 800px;
    font-family: "kdam thmor pro", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

h1 {
    background-color: rgba(10,23,55,0);
    margin-top: 50px;
    display: flex;
    justify-content: center;
    font-size: 40px;
    color: aliceblue;
}

.stars {
    background-color: aliceblue;
}

.star {
    background-color: aliceblue;
}

.content {
    background-color: rgba(10,23,55,0);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
    padding: 30px;
}

.cards {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 250px;
    height: 400px;
    padding: 35px 40px;
    border-radius: 10px;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.171);
    font-family: 'Kanit', sans-serif;
}

p {
    font-size: 15px;
    background-color: aliceblue;
}

h3 {
    font-size: 20px;
    background-color: aliceblue;
}

.foto-perfil {
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin-bottom: 15px;
}

footer {
    height: 300px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    
    span {
        color: #fff;
        font-family: "kdam thmor pro", sans-serif;
    }
    
    .footer-navigation {
        display: none;
    }
    
    .footer-list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    @media(max-width: 768px){

        .content {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            row-gap: 20px;
            column-gap: 40px;
            padding: 30px;
        }

        .comentarios-container {
            height: 1700px;
        }    

        .footer-navigation {
            display: block;
        }
    
        nav {
            display: none;
        }
    
        #banner {
            background-position: 50%;
        }
    }