@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');
* {
    margin: 0%;
    padding: 0%;
    background-color: black;
    list-style: none;
    text-decoration: none;
}

header {
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}

nav {
width: 60%;    
}

ul {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

li {
    list-style: none;
    color: aliceblue;
    cursor: pointer;
    font-size: 19px;
    transition: 19s;
    transition: 0.5s;
    font-family: "kdam thmor pro", sans-serif;
}

li:hover {
    color: #d21617;
}

#logo {
    width: 150px;
    height: auto;
}

#banner {
    background-size: cover;
    position: relative;
    width: 100vw;
    height: 100vh;
}

article {
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

.navigation {
    background-color: rgba(10,23,55,0);
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.bar {
    background-color: rgba(10,23,55,0);
    width: 60px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.bar:hover {
    background: #fff;
}

input {
    display: none;
}

.slides {
    position: absolute;
    display: flex;
    width: 1900px;
    height: 600px;
    overflow: hidden;
}

.slide {
    transition: 0.6s;
}

.slide img {
    width: 1900px;
    height: 600px;
    overflow: hidden;
}

#slide1:checked ~ .s1 {
    margin-right: 0;
} 

#slide2:checked ~ .s1 {
    margin-right: -100%;
} 

#slide3:checked ~ .s1 {
    margin-right: -200%;
} 

#slide4:checked ~ .s1 {
    margin-right: -300%;
} 

#slide5:checked ~ .s1 {
    margin-right: -400%;
} 

#slide6:checked ~ .s1 {
    margin-right: -500%;
} 

footer {
    height: 30%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
}
    
span {
    color: #fff;
    font-family: "kdam thmor pro", sans-serif;
}
    
.footer-navigation {
    display: none;
}
    
.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
@media(max-width: 768px){
    .footer-navigation {
        display: block;
    }
    
    nav {
        display: none;
    }

    body {
        width: 100%;
    }

    .navigation {
        width: 90%;
        margin-bottom: 1px;
    }

    img {
        overflow: hidden;
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
    }

    #slide1:checked ~ .s1 {
        margin-right: 0;
    } 
    
    #slide2:checked ~ .s1 {
        margin-right: -100%;
    } 
    
    #slide3:checked ~ .s1 {
        margin-right: -200%;
    } 
    
    #slide4:checked ~ .s1 {
        margin-right: -300%;
    } 
    
    #slide5:checked ~ .s1 {
        margin-right: -400%;
    } 
    
    #slide6:checked ~ .s1 {
        margin-right: -500%;
    } 
    
}